.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local
.env
.env.example

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src/assets/images/pexels-enginakyurt-1435904.jpg
/.dockerignore

package-lock.json
.gradle/
android.keystore
app-release-bundle.aab
app-release-signed.apk
app-release-signed.apk.idsig
app-release-unsigned-aligned.apk
app/
build.gradle
build/
gradle.properties
gradle/
gradlew
gradlew.bat
manifest-checksum.txt
public/.well-known/
public/damd
settings.gradle
src/assets/images/farmer-struggle.jpg
src/assets/images/happy-farmer.jpg
src/components/ai/AIApp.vue
src/components/ai/ChatBox.vue
src/components/ai/InputArea.vue
src/components/ai/SpeechRecognition.vue
src/mixins/AudioManagement.js
src/mixins/SocketManagement.js
src/mixins/speechMixin.js
store_icon.png
twa-manifest.json

app2/
src/views/auth/SignInOld.vue
src/views/auth/SignInOriginal.vue