# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/jobs-steps/#jobs-overview & https://circleci.com/docs/configuration-reference/#jobs
jobs:
  # Below is the definition of your job to build and test your app, you can rename and customize it as you want.
  build:
    # Specify the execution environment. You can specify an image from Docker Hub or use one of our convenience images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/executor-intro/ & https://circleci.com/docs/configuration-reference/#executor-job
    docker:
      - image: circleci/node:14.16.0
    working_directory: ~/repo
    executor:
    steps:
      # Checkout the code as the first step.
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

  dev-docker-build:
    docker:
      - image: docker:stable
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - attach_workspace:
          at: /target
      - run:
          name: Install dependencies
          command: |
            apk add --no-cache py-pip
            pip install awscli==1.16.114
      - run:
          name: Building docker image with a Dev Dockerfile generated on the fly
          command: |
            cp -r /target .
            export AWS_ACCESS_KEY_ID=${AWS_DEV_KEY_ID}
            export AWS_SECRET_ACCESS_KEY=${AWS_DEV_ACCESS_KEY}
            docker build -t ${AWS_DEV_ECR_ENDPOINT}:${CIRCLE_SHA1} \
            --build-arg VUE_APP_API_BASE_URL=${VUE_DEV_API_BASE_URL} \
            --build-arg VUE_APP_AWS_REGION=${AWS_DEFAULT_REGION} \
            --build-arg VUE_APP_USER_POOL_ID=${VUE_DEV_USER_POOL_ID} \
            --build-arg VUE_APP_USER_POOL_WEB_CLIENT_ID=${VUE_DEV_USER_POOL_WEB_CLIENT_ID} \
            --no-cache .
            login=$(aws ecr get-login --no-include-email --region us-east-1)
            ${login}
            docker push ${AWS_DEV_ECR_ENDPOINT}:${CIRCLE_SHA1}

  dev-docker-deploy:
    docker:
      - image: docker:stable
    steps:
      - run:
          name: Provision Built Image From ECR to ECS
          command: |
            apk add --no-cache py-pip
            apk add --no-cache jq
            pip install awscli==1.16.114
      - run:
          name: This forces the task definition to be re-evaluated and the new container image to be pulled.
          command: |
            export AWS_ACCESS_KEY_ID=${AWS_DEV_KEY_ID}
            export AWS_SECRET_ACCESS_KEY=${AWS_DEV_ACCESS_KEY}
            export ECR_IMAGE=${AWS_DEV_ECR_ENDPOINT}:${CIRCLE_SHA1}

            # Fetch the current task definition
            export TASK_DEFINITION=$(aws ecs describe-task-definition --task-definition farmers-portal-apis-task-def --region us-east-1)
            echo "Task Definition:"
            echo $TASK_DEFINITION | jq .
            
            # Modify the task definition with the new image
            export NEW_TASK_DEFINITION=$(echo $TASK_DEFINITION | jq --arg IMAGE $ECR_IMAGE '.taskDefinition | .containerDefinitions[0].image = $IMAGE | del(.taskDefinitionArn) | del(.revision) | del(.status) | del(.requiresAttributes) | del(.compatibilities)')
            echo "New Task Definition:"
            echo $NEW_TASK_DEFINITION | jq .
            
            # Write the new task definition to a file
            echo $NEW_TASK_DEFINITION > task.json
            echo "Contents of task.json:"
            cat task.json
            
            # Validate JSON
            echo "Validating task.json..."
            jq empty task.json
            if [[ $? -ne 0 ]]; then
              echo "Error: task.json is not valid JSON!"
              exit 1
            fi
            
            # Register the new task definition
            echo "Registering new task definition..."
            export NEW_TASK_INFO=$(aws ecs register-task-definition --cli-input-json file://task.json --region us-east-1)
            echo "New Task Info:"
            echo $NEW_TASK_INFO | jq .
            
            # Extract the new revision number
            export NEW_REVISION=$(echo $NEW_TASK_INFO | jq '.taskDefinition.revision')
            echo "New Revision: ${NEW_REVISION}"
            
            # Update the ECS service with the new task definition
            aws ecs update-service \
              --cluster agriconnect-apis \
              --service farmers-portal-apis-service \
              --task-definition farmers-portal-apis-task-def:$NEW_REVISION \
              --force-new-deployment \
              --region us-east-1
# Orchestrate jobs using workflows
# See: https://circleci.com/docs/workflows/ & https://circleci.com/docs/configuration-reference/#workflows
workflows:
  farmers-portal-frontend-pipeline: # This is the name of the workflow, feel free to change it to better match your workflow.
    # Inside the workflow, you define the jobs you want to run.
    jobs:
      - build
      - dev-docker-build:
          requires:
            - build
          filters:
            branches:
              only: master
      - dev-docker-deploy:
          requires:
            - dev-docker-build
          filters:
            branches:
              only: master