:root {
    --gray-color: #4d4d4e;
    --light-gray-color: #dddddd;
    --bg-gray: #f9f9fb;
    --white-color: #fff;
    --blue-color: #0f497d;
    --green-color: #13361C;
    --light-blue-color: #5d95f2;
    --yellow-color: #F8AB10;
    --red-color: #e42d2b;
    --v-primary-base: green;
    --v-secondary-base: #7b1f95;
    --v-accent-base: blue;
}
